<div class="header">
  <div class="header__menu">
    <!-- <button mat-icon-button (click)="onClickMenu()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <div class="header__barnd">
      <a class="header__links" [routerLink]="'/recipes/home'">MySpaceFood</a>
    </div>
    <div class="header__pages">
      <!-- <a
        mat-button
        href="https://www.google.com/"
        target="_blank"
        class="header__links header__pages-links"
        >Link1</a
      >
      <a
        mat-button
        href="https://www.google.com/"
        target="_blank"
        class="header__links header__pages-links"
        >Link2</a
      > -->
    </div>
  </div>
  <div class="header__icons">
    <div class="header__icons-profile" *ngIf="logedIn">
      Hello, {{ this.username }}!
    </div>
    <div class="header__icons-cart" *ngIf="this.showAdmin && logedIn">
      <a mat-icon-button routerLink="/panel/users" routerLinkActive="active">
        <mat-icon class="header__icons-icon">supervised_user_circle</mat-icon>
      </a>
    </div>
    <div
      class="header__icons-cart"
      *ngIf="(this.showPlus && logedIn) || (this.showAdmin && logedIn)"
    >
      <a mat-icon-button routerLink="/recipe/add" routerLinkActive="active">
        <mat-icon class="header__icons-icon">add</mat-icon>
      </a>
    </div>
    <div class="header__icons-cart">
      <a mat-icon-button routerLink="/menu/smart" routerLinkActive="active">
        <mat-icon class="header__icons-icon">shuffle</mat-icon>
      </a>
    </div>
    <div class="header__icons-cart">
      <a
        mat-icon-button
        routerLink="/list/favorites"
        routerLinkActive="active"
        (click)="refreshFavorites()"
      >
        <mat-icon class="header__icons-icon">favorite</mat-icon>
        <!-- {{ this.cartNumber }} -->
      </a>
    </div>
    <!-- <div class="header__icons-logout" *ngIf="logedIn"> -->
    <!-- <button mat-icon-button> -->
    <a
      mat-icon-button
      class="register__card-links"
      (click)="onLogout()"
      *ngIf="logedIn"
    >
      <!-- routerLink="/account/login"
        routerLinkActive="active" -->
      <mat-icon class="header__icons-icon">exit_to_app</mat-icon></a
    >
    <!-- </button> -->
    <!-- </div> -->
    <a
      mat-icon-button
      class="register__card-links"
      routerLink="/account/login"
      *ngIf="!logedIn"
    >
      <mat-icon class="header__icons-icon">how_to_reg</mat-icon></a
    >
  </div>
  <!-- <a
  mat-button
  routerLink="/account/login"
  routerLinkActive="active"
  class="register__card-links"
  >Sign In</a
>
<a
mat-button
routerLink="/account/register"
routerLinkActive="active"
class="register__card-links"
>register</a
> -->
</div>
