$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1440px;
$xl: 1920px;

@mixin display-flex(
  $flex-direction,
  $justify-content: center,
  $align-items: center,
  $flex-wrap: wrap
) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
}

@mixin background-img(
  $background-imag,
  $background-position: 50% 50%,
  $background-size: cover,
  $background-repeat: no-repeat
) {
  background-image: url($background-image);
  background-position: $background-position;
  background-repeat: $background-repeat;
  background-size: $background-size;
}

@mixin respond($media) {
  @if $media == 'xs' {
    @media only screen and (max-width: $xs - 1px) {
      @content;
    }
  } @else if $media == 'gt-xs' {
    @media only screen and (min-width: $xs) {
      @content;
    }
  } @else if $media == 'sm' {
    @media only screen and (min-width: $xs) and (max-width: $sm - 1px) {
      @content;
    }
  } @else if $media == 'gt-sm' {
    @media only screen and (min-width: $sm) {
      @content;
    }
  } @else if $media == 'md' {
    @media only screen and (min-width: $sm) and (max-width: $md - 1px) {
      @content;
    }
  } @else if $media == 'gt-md' {
    @media only screen and (min-width: $md) {
      @content;
    }
  } @else if $media == 'lg' {
    @media only screen and (min-width: $md) and (max-width: $lg - 1px) {
      @content;
    }
  } @else if $media == 'gt-lg' {
    @media only screen and (min-width: $lg) {
      @content;
    }
  } @else if $media == 'xl' {
    @media only screen and (min-width: $lg) {
      @content;
    }
  }
}
