$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$blue-color: rgb(0, 0, 255);
$red-color: rgb(255, 0, 0);
$yellow-color: rgb(255, 255, 0);
$green-color: hsl(120, 100%, 25%);

$header-background: $white-color;

$light-blue-color: #f1fffe;
$light-gray-color: rgba(0, 0, 0, 0.3);
$lighter-blue-color: #b2e0df;
$light-green: #60acab;
$light-light-gray-color: #414141;
$lighter-gray-color: #ebebeb;
$gray-color: #f5f5f5;
$lightseagreen: rgb(32, 178, 170);
$pink-color: rgb(255, 192, 203);

$header-background: $light-blue-color;
$header-font: $black-color;
$logo: $lighter-blue-color;
$shadow: $light-gray-color;
$card-bakground: $white-color;
$login-title: $light-green;
$login-button: $light-green;
$login-links: $light-green;
$login-form: $light-green;
$register-title: $light-green;
$register-button: $light-green;
$register-links: $light-green;
$register-form: $light-green;
$button-text: $light-light-gray-color;
$list-background: $lighter-gray-color;
$product-background: $white-color;
$border-button: $black-color;
$button-filter: $gray-color;
$shadowbox-background: $white-color;
$shadowbox-border: $lighter-gray-color;
$card-error-login: $red-color;
$header-info: $lightseagreen;
$border-img: $gray-color;
$menu-list-background: $white-color;
$dropdown-label: $pink-color;
$dropdown-option-text: $blue-color;
$dropdown-option-background: $pink-color;
$dropdown-option-background-active: $yellow-color;
$button-border-active: $black-color;
$button-background: $green-color;
