<!-- <div class="recipe">
  <div class="recipe__favorite">
    <mat-icon *ngIf= 'false'>favorite</mat-icon>
    <mat-icon *ngIf= 'true'>favorite_border</mat-icon>
  </div>
  <div class="recipe__image">
    <img src='{{ recipe.image }}' class="recipe__card-image" width="200px" height="200px">
  </div>
  <div class="recipe__title">
    {{ recipe.name }}
  </div>
  <div class="recipe__informations">
    <div class="recipe__information__time">
      Total time: 30 min
    </div>
    <div class="recipe__information__calories">
      Calories: 428
    </div>
  </div>
</div> -->

<mat-card class="card-recipe">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <button
    mat-icon-button
    *ngIf="found"
    (click)="unFavorite()"
    class="card-recipe__heart"
  >
    <mat-icon class="card-recipe__color">favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="!found"
    (click)="onFavorite()"
    class="card-recipe__heart"
  >
    <mat-icon>favorite_border</mat-icon>
  </button>

  <div class="image">
    <img mat-card-image src="{{ recipe.image }}" />
  </div>
  <mat-card-content>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
  <mat-card-footer>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-footer>
</mat-card>
