@import '~src/app/stylesheets/mixins';

.card-recipe__heart {
  background-color: white;
  position: absolute;
  top: -2px;
  right: -2px;
}

.card-recipe__color {
  color: red;
}

.mat-card {
  padding: 0 16px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.card-recipe {
  background-color: #ebebeb;
  width: 30vh;
  // height: 400px;
  margin: 5px;
  margin-bottom: 20px;

  @include respond(gt-xxs) {
    width: 60vh;
    // height: 400px;
    margin: 5px;
  }

  @include respond(gt-xs) {
    width: 15rem;
    height: 400px;
    margin: 5px;
  }

  &__descrption {
    margin-top: 20px;
    display: none;
    @include respond(gt-xs) {
      display: block;
    }
  }

  img {
    margin-top: 1px;
  }
}
