<mat-card class="card-recipe">
  <button
    mat-icon-button
    *ngIf="found"
    (click)="unFavorite()"
    class="card-recipe__heart"
  >
    <mat-icon class="card-recipe__color">favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="!found"
    (click)="onFavorite()"
    class="card-recipe__heart"
  >
    <mat-icon>favorite_border</mat-icon>
  </button>
  <a routerLink="/recipes/rec/{{ recipe.id }}">
    <div class="card-recipe__image">
      <img mat-card-image src="{{ recipe.image }}" />
    </div>
    <mat-card-content>
      <mat-card-title class="card-recipe__title">{{
        recipe.name
      }}</mat-card-title>
      <p class="card-recipe__descrption">
        {{ recipe.description }}
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
    <!-- <mat-card-footer class="card-recipe__descrption">
      <p>
        {{ recipe.description }}
      </p>
    </mat-card-footer> -->
  </a>
</mat-card>
