@import '~src/app/stylesheets/mixins';
@import '~src/app/stylesheets/vars';

.login {
  @include display-flex(column, center, center, nowrap);
  background-image: url('../../../../assets/img/try10.jpeg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;

  &__logo {
    position: absolute;
    left: 140px;
    top: 30px;
      img {
        width: 80px;
        height: 100px;
      }
  }

  &__box {
    @include display-flex(row, space-around, center, nowrap);
    background-color: #ad7e65; //#d68d67

    border-radius: 10px;
    height: 400px;
    padding: 5px;
    width: 800px;
  }

  &__box-case {
    width: 300px;
  }

  &__box-form {
    @include display-flex(column, flex-start, flex-start, nowrap);
  }

  &__box-img {
    width: 356px;
    height: 272px;
  }

  &__box-newaccount {
    padding-top: 20px;
    a {
      padding: 0;
    }
  }


}

input,textarea {
  color: #8f0407;
  text-shadow: 0px 0px 0px #000 ;
  -webkit-text-fill-color: transparent ;
}

input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
  color: #ccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.title {
  padding-top: 20px;
  font-size: xx-large;
  cursor: pointer;
}

.form-errors {
  color: red;
}

.mat-form-field {
  height: 50px;
}