<div class="smart">
  <div class="smart__form">
    <div class="smart__form__title">
      <h1>Smart Menu</h1>
    </div>
    <form [formGroup]="smartForm" class="form">
      Calorii:
      <input
        class="kcal"
        id="myNumber"
        type="number"
        formControlName="kcal"
        maxlength="4"
        [placeholder]="'####'"
        autocomplete="off"
        max="3000"
        min="500"
        step="100"
      />
      <div class="info">Please enter between 500 and 3000 calories.</div>
      <div>Total calorii ale smart meniului generat: {{ this.kcal }}</div>
    </form>
    <div class="smart__form__recipes">
      <div class="menu">
        <h1 *ngIf="buttonPressed || this.sesionMenu[0] != -1">Mic de jun</h1>
        <app-recipe-card
          [recipe]="this.breakfastRecipe"
          *ngIf="this.breakfastRecipe"
        ></app-recipe-card>
        <a
          mat-stroked-button
          (click)="resetBreakfast()"
          class="reset-buttons"
          *ngIf="buttonPressed || this.sesionMenu[0] != -1"
          >Genreaza alta reteta pentru mic de jun</a
        >
      </div>
      <div class="menu">
        <h1 *ngIf="buttonPressed || this.sesionMenu[0] != -1">Pranz</h1>
        <app-recipe-card
          [recipe]="this.lunchRecipe"
          *ngIf="this.lunchRecipe"
        ></app-recipe-card>
        <a
          mat-stroked-button
          (click)="resetLunch()"
          class="reset-buttons"
          *ngIf="buttonPressed || this.sesionMenu[0] != -1"
          >Genreaza alta reteta pentru pranz</a
        >
      </div>
      <div class="menu">
        <h1 *ngIf="buttonPressed || this.sesionMenu[0] != -1">Cina</h1>
        <app-recipe-card
          [recipe]="this.dinnerRecipe"
          *ngIf="this.dinnerRecipe"
        ></app-recipe-card>
        <a
          mat-stroked-button
          (click)="resetDinner()"
          class="reset-buttons"
          *ngIf="buttonPressed || this.sesionMenu[0] != -1"
          >Genreaza alta reteta pentru cina</a
        >
      </div>
    </div>
    <a mat-stroked-button (click)="resetMenu()" class="reset-buttons"
      >Genreaza smart meniu</a
    >
  </div>
</div>
