@import '~src/app/stylesheets/mixins';

.filter {
    padding-top: 10px;
    padding-left: 8px;
    background-color: white;

    form {
    width: 100%;
    align-content: stretch;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    @include respond(gt-xs) {
    }

  }

  &__ingredient {
    margin-right: 2px;
  }
}

.filter-extend {
  margin-top: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  cursor: pointer;

  .title {
    padding-top: 2px;
  }

}


.radio-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.filter-check {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}

.type {
  max-height: 100px;
  flex-direction: column;

}
.radio-type {
  width: fit-content;
  padding-right: 25px;
}

.category {
  flex-direction: row;


}
.radio-category {
  width: fit-content;
  padding-right: 10px;
  }

  .reset-buttons {
    margin: 10px 0;
  }
