<!-- <form class="login__box-form" [formGroup]="filterForm" (ngSubmit)="onSubmit()"> -->
<form class="login__box-form" [formControl]='formSelect'>
  <mat-checkbox [value]= >faina</mat-checkbox>
  <mat-checkbox  >pui</mat-checkbox>
  <mat-checkbox formControlName="ingredient3" >porc</mat-checkbox>
  <button class="btn btn-primary" type="submit"> Submit </button>
</form>
<!-- Form value: {{ filterForm.getRawValue() | json }} -->

<!-- <p class="placeholder">{{ingredientCategory}}</p>
<section *ngFor="let ingredient of ingredients; let i = index; ">
  <mat-checkbox [formControl]='formCheckbox' class="section"  color="primary" (change)="getSelectedOptionsValue(formCheckbox, i)">
    {{ingredient}}
  </mat-checkbox>
</section> -->
