
.filter {
    padding-top: 10px;
    padding-left: 5px;
    background-color: white;

    form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-content: stretch;
    max-height: 200px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__ingredient {
    margin-right: 2px;
  }
}

.filter-extend {
  margin-top: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  cursor: pointer;

  .title {
    padding-top: 2px;
  }

}
