@import '~src/app/stylesheets/mixins';
@import '~src/app/stylesheets/vars';

.page {
  
  height: 100%;

  &__content {
    @include display-flex(row, flex-start, flex-start, nowrap);
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &__list {
    height: 100%;

    width: 100%;
  }

  &__menu {
    position: absolute;
    z-index: 2;
  }
}
