<div class="home">
  <div class="home__recipes">
    <div class="home__recipes-recipe" *ngFor="let recipe of recipes">
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
  </div>
  <div class="redirect" *ngIf="!logIn">
    Ops, nu ești logat. Dacă dorești sa adaugi rețete la favorite, te rog
    <!-- If you want to add favorites, please -->
    <a routerLink="/account/login">loghează-te</a>.
  </div>
  <div class="redirect" *ngIf="!favorites">
    Ops, nu ai adăugat încă rețete la favorite.
    <!-- Ops, you didn't mark any recipe as favorite yet. -->
    <a routerLink="/recipes/home">Dute acum</a>
  </div>
</div>
