<nav [ngClass]="{ 'menu-list--open': isOpen }" class="menu-list">
  <a
    mat-button
    href="https://www.google.com/"
    target="_blank"
    class="menu-list__item"
  >
    Link
  </a>
  <a
    mat-button
    href="https://www.google.com/"
    target="_blank"
    class="menu-list__item"
    >Link1</a
  >
  <a
    mat-button
    href="https://www.google.com/"
    target="_blank"
    class="menu-list__item"
    >Link2</a
  >
  <a
    mat-button
    href="https://www.google.com/"
    target="_blank"
    class="menu-list__item"
    >Link3</a
  >
  <a
    mat-button
    href="https://www.google.com/"
    target="_blank"
    class="menu-list__item"
    >Link4</a
  >
</nav>
