@import '~src/app/stylesheets/mixins';

.add {
  @include display-flex(column, flex-start, center, nowrap);
  background-color: #F4F4F4;
  width: 100%;
  height: auto;

  &__form {
    background-color: white;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    margin: 33px;
    width: 50%;
    padding: 32px;

    .mandatory-field {
      color: red;
    }

    &__title {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
    }
    .input-container-specif {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &__input {
      border: 1px solid #e9e8e8;
      border-radius: 6px;
      max-height: 40px;
      padding: 9px 16px;
      resize: none;
      margin-top: 1px;
      width: 95%;

      &--error {
        border-color: red !important;
      }
    }

    &__text {
      border: 1px solid #e9e8e8;
      border-radius: 6px;
      max-height: 98px;
      padding: 9px 16px;
      resize: none;
    }

    .input-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__category {
      margin: 10px 0;
      display: flex;
      flex-direction: column;

      mat-radio-group {
        display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          @include respond(gt-xs) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 20px;
          }
      }
    }

    &__type {
      margin: 10px 0;
      display: flex;
      flex-direction: column;

    }
  }

  .container {
    &__input {
      display: flex;
      flex-direction: column;
    }

  }


  .found {
    color: #bcbbbb;
  }
}
.label {
  margin: 15px 5px 10px 0;

  &--special {
    margin-top: 0;
  }
}

mat-radio-button {
  margin-right: 10px;
  margin-bottom: 5px;
}

mat-radio-group {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    @include respond(gt-xs) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 80px;
    }
}

.ingredient {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;

  .container__input {
    margin-right: 20px;
  }
}

.input-recipe-name {
position: relative;
}

mat-spinner {
  // position: absolute;
  // margin-top: 8px;
  // right: 26%;
  // top: 22%;
  // float: right;
  width: 20px;
  position: absolute;
  top: 7px;
  height: 20px;
  right: 3%;
}

.form-errors {
  padding-top: 8px;
  color: red;
}

.close-button {
  align-self: flex-end;
  padding-bottom: 7px;
}