<div class="add">
  <form
    class="add__form"
    [formGroup]="myRecipeGroup"
    *ngIf="myRecipeGroup"
    (ngSubmit)="sendJson()"
  >
    <div class="add__form__title">
      <h1>Add a New Recipe</h1>
    </div>
    <div class="add__form__container">
      <div class="container__input">
        <label for="name" class="label">
          Numele retetei
          <span class="mandatory-field">*</span></label
        >
        <div class="input-container-specif">
          <div>
            <input
              name="name"
              type="text"
              autocomplete="off"
              class="add__form__input"
              [placeholder]="'Nume'"
              [formControlName]="'recipe_name'"
              required
            />

            <mat-spinner
              diameter="20"
              *ngIf="this.valueChangeRecipe != 0 && this.valueChangeRecipe != 4"
            ></mat-spinner>
          </div>
          <div
            *ngIf="
              this.myRecipeGroup.controls.recipe_name.errors &&
              this.myRecipeGroup.controls.recipe_name.touched
            "
            class="form-errors"
          >
            Numele retetei este obligatoriu.
          </div>
        </div>
        <div class="found" *ngIf="foundRecipe == 'found'">
          Reteta deja introdusa.
        </div>
        <div
          class="found"
          *ngIf="
            foundRecipe == 'notFound' &&
            this.myRecipeGroup.controls.recipe_name.value != ''
          "
        >
          Reteta nu a mai fost introdusa.
        </div>
      </div>
      <div class="add__form__category">
        <label class="label"
          >Categoria retetei<span class="mandatory-field">*</span></label
        >
        <mat-radio-group [formControlName]="'categorys'">
          <span
            *ngFor="let category of categorys"
            class="radio-category category"
          >
            <mat-radio-button value="{{ category.category_name }}">{{
              category.category_name
            }}</mat-radio-button>
          </span>
        </mat-radio-group>
      </div>
      <div
        *ngIf="
          this.myRecipeGroup.controls.categorys.errors &&
          this.myRecipeGroup.controls.categorys.touched
        "
        class="form-errors"
      >
        Categoria retetei este obligatorie.
      </div>
      <div class="add__form__type">
        <label class="label"
          >Tipul retetei<span class="mandatory-field">*</span></label
        >
        <mat-radio-group
          [formControlName]="'types'"
          class="radio-container type"
        >
          <span *ngFor="let type of types" class="radio-type">
            <mat-radio-button value="{{ type.type_name }}">{{
              type.type_name
            }}</mat-radio-button>
          </span>
        </mat-radio-group>
      </div>
      <div
        *ngIf="
          this.myRecipeGroup.controls.types.errors &&
          this.myRecipeGroup.controls.types.touched
        "
        class="form-errors"
      >
        Tipul retetei este obligatoriu.
      </div>
      <div class="container__input">
        <label for="descriere" class="label label--special">
          Descriere Retetei<span class="mandatory-field">*</span>
        </label>
        <textarea
          name="descriere"
          class="add__form__text"
          style="overflow: hidden"
          style="resize: none"
          rows="7"
          [formControlName]="'recipe_description'"
          placeholder="Descriere"
        ></textarea>
        <div
          *ngIf="
            this.myRecipeGroup.controls.recipe_description.errors &&
            this.myRecipeGroup.controls.recipe_description.touched
          "
          class="form-errors"
        >
          Descrierea retetei este obligatorie.
        </div>
      </div>
    </div>

    <div class="container__input">
      <label for="name" class="label">
        Link-ul imaginii retetei<span class="mandatory-field">*</span></label
      >
      <div class="input-container">
        <input
          name="name"
          type="text"
          autocomplete="off"
          class="add__form__input"
          [placeholder]="'Link'"
          [formControlName]="'recipe_image'"
        />
      </div>
      <div
        *ngIf="
          this.myRecipeGroup.controls.recipe_image.errors &&
          this.myRecipeGroup.controls.recipe_image.touched
        "
        class="form-errors"
      >
        Link-ul retetei sunt obligatorii.
      </div>
    </div>

    <div class="container__input">
      <label for="instructiuni" class="label">
        Instructiunile retetei<span class="mandatory-field">*</span>
      </label>
      <textarea
        name="instructiuni"
        class="add__form__text"
        style="overflow: hidden"
        style="resize: none"
        rows="7"
        [formControlName]="'recipe_instruction'"
        placeholder="Instructiuni"
      ></textarea>
      <div
        *ngIf="
          this.myRecipeGroup.controls.recipe_instruction.errors &&
          this.myRecipeGroup.controls.recipe_instruction.touched
        "
        class="form-errors"
      >
        Instructiunile retetei sunt obligatorii.
      </div>
    </div>

    <div class="container__input">
      <label for="kcal" class="label">
        Numar total de calorii<span class="mandatory-field">*</span>
      </label>
      <div class="input-container">
        <input
          name="kcal"
          type="text"
          autocomplete="off"
          class="add__form__input"
          [placeholder]="'Calorii'"
          [formControlName]="'recipe_kcal'"
        />
      </div>
      <div
        *ngIf="
          this.myRecipeGroup.controls.recipe_kcal.errors &&
          this.myRecipeGroup.controls.recipe_kcal.touched
        "
        class="form-errors"
      >
        Numarul de calorii ale retetei sunt obligatorii.
      </div>
    </div>
    <div class="form_ingredients label">
      Ingrediente<span class="mandatory-field">*</span>
      <a mat-icon-button>
        <mat-icon class="header__icons-icon" (click)="ingredientsInputs()"
          >add</mat-icon
        >
      </a>
      <div class="ingredient" *ngFor="let ingredient of nrIngredients">
        <div class="container__input">
          <label for="ingredientname" class="label" *ngIf="ingredient == 0"
            >Numele ingreientului<span class="mandatory-field">*</span></label
          >
          <div class="input-container">
            <input
              name="ingredientname"
              type="text"
              autocomplete="off"
              class="add__form__input"
              [placeholder]="'Nume'"
              [formControlName]="'ingredient_name' + ingredient"
            />
          </div>
        </div>
        <div class="container__input">
          <label for="cantitatea" class="label" *ngIf="ingredient == 0"
            >Canitatea<span class="mandatory-field">*</span></label
          >
          <div class="input-container">
            <input
              name="cantitatea"
              type="text"
              autocomplete="off"
              class="add__form__input"
              [placeholder]="'500'"
              [formControlName]="'ingredient_cantity' + ingredient"
            />
          </div>
        </div>
        <div class="container__input">
          <label for="unit" class="label" *ngIf="ingredient == 0"
            >Unitatea de masura<span class="mandatory-field">*</span></label
          >
          <div class="input-container">
            <input
              name="unit"
              type="text"
              autocomplete="off"
              class="add__form__input"
              [placeholder]="'g'"
              [formControlName]="'ingredient_unit' + ingredient"
            />
          </div>
        </div>
      </div>
      <!-- <div
        *ngIf="
          'this.myRecipeGroup.controls.ingredient_unit' +
            ingredient +
            '.errors ' &&
          'this.myRecipeGroup.controls.ingredient_unit' +
            ingredient +
            '.touched'
        "
        class="form-errors"
      >
        Numarul de calorii ale retetei sunt obligatorii.
      </div> -->
    </div>
    <button mat-stroked-button>Submit</button>
    <div *ngIf="this.buttonPressed" class="form-errors">
      Toate campurile sunt obligatorii.
    </div>
  </form>
</div>
